<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Listado de estudiantes</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
        <nav class="navbar navbar-dark bg-primary"> 
        <h2 style="color:#FFFFFF" align="center">Lista de  Libros</h2>
		</nav>
		<br>
		<br>
	<table>
		<thead>
			<th scope="col">codigo</th>
			<th scope="col">Titulo</th>
		    <th scope="col">Autor</th>
		    <th scope="col">ISBN</th>
		    <th scope="col">Categoria</th>
		    <th scope="col">Estado</th>
		    <th scope="col">Fecha</th>
		    
		</thead>
		<th:block th:each="libro, row:${libros}">
			<tr>
				<th scope="row" th:text="${libro.codigoLibro}"/>
				<th th:text="${libro.tituloLibro}"/>
	            <th th:text="${libro.autorLibro}"/>
	            <th th:text="${libro.isbnLibro}"/>
	            <th th:text="${libro.categoria.nombreCategoria}"/>
	            <th th:text="${libro.estadoLibro}"/>
	            <th th:text="${#dates.format(libro.fechaIngreso,'dd-MM-yyyy HH:mm')}"/>
	            
				</tr>
		</th:block>
	</table>
	<br>
	
	<a type="button" class="btn btn-primary " href="/index">Regresar</a>	
	</div>
    	</div>
	</div>
</body>
</html>